<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <substitutionProperty name="log.error" value="myJavaTreasury-error.log" />
    <substitutionProperty name="log.warn" value="myJavaTreasury-warn.log" />
    <substitutionProperty name="log.info" value="myJavaTreasury-info.log" />
    <substitutionProperty name="log.debug" value="myJavaTreasury-debug.log" />
    <substitutionProperty name="log.base" value="${user.dir}/logs" />
    <substitutionProperty name="max.size" value="50MB" />

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} %-5level[%thread]%logger{56}.%method:%L -%msg%n</pattern>
        </layout>
    </appender>

    <appender name="file.error" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.base}/${log.error}</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.base}/${log.error}.%d{yyyy-MM-dd}.log</fileNamePattern>
            <MaxHistory>5</MaxHistory>
        </rollingPolicy>

        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss} -%msg%n
            </Pattern>
        </layout>
        <encoder>
            <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} %-5level[%thread]%logger{56}.%method:%L -%msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="file.warn" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.base}/${log.warn}</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.base}/${log.warn}.%d{yyyy-MM-dd}.log</fileNamePattern>
            <MaxHistory>5</MaxHistory>
        </rollingPolicy>

        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss} -%msg%n
            </Pattern>
        </layout>
        <encoder>
            <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} %-5level[%thread]%logger{56}.%method:%L -%msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>


    <appender name="file.info" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.base}/${log.info}</file>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${log.base}/${log.info}.%i.log</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>5</maxIndex>
        </rollingPolicy>

        <triggeringPolicy
                class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>${max.size}</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} %-5level[%thread]%logger{56}.%method:%L -%msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="file.debug" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.base}/${log.debug}</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${log.base}/${log.debug}.%i.log</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>5</maxIndex>
        </rollingPolicy>

        <triggeringPolicy
                class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>${max.size}</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} %-5level[%thread]%logger{56}.%method:%L -%msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <root level="ERROR" additivity="false">
        <appender-ref ref="file.error" />
        <appender-ref ref="stdout" />
    </root>
    <root level="WARN" additivity="false">
        <appender-ref ref="file.warn" />
        <appender-ref ref="stdout" />
    </root>

    <root level="INFO" additivity="false">
        <appender-ref ref="file.info" />
        <appender-ref ref="stdout" />
    </root>

    <logger name="org.apache" additivity="false">
        <level value="INFO"/>
    </logger>
    <logger name="org.postgresql" additivity="false">
        <level value="INFO"/>
    </logger>
    <logger name="org.springframework.core" additivity="false">
        <level value="INFO"/>
    </logger>
    <logger name="org.apache" additivity="false">
        <level value="INFO"/>
    </logger>
    <logger name="sun" additivity="false">
        <level value="INFO"/>
    </logger>
    <logger name="com.netflix" additivity="false">
        <level value="INFO"/>
    </logger>
    <logger name="org.springframework.scheduling">
        <level value="info" />
    </logger>


    <logger name="java.sql.Connection" level="ERROR" />
    <logger name="java.sql.PreparedStatement" level="ERROR" />

<!--     <logger name="com.antelope.lingmou.vehicle.dao.*" level="DEBUG" /> -->

    <root level="debug">
        <appender-ref ref="file.debug" />
        <appender-ref ref="stdout" />
    </root>
</configuration>
